<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            border: 2px solid black;
            width: 1200px;

        }
        header{
            background-color: aquamarine;
        }

        .hero{
            background-color: brown;
        }
    </style>

</head>
<body>
    <div class="container">
        <header>
            <h1>Logo</h1>
            <nav>
                <ul>
                <li>
                    <a href="">Home</a>
                </li>
            </ul>
        </nav>
        </header>

        <div>
            <section class="hero">Hero</section>
        </div>

        <main>
            <section>Linha 1</section>
        </main>

        <footer>Pé rodando</footer>
    </div>
</body>
</html>